.product{
    border: 1px solid grey;
    display: inline-block;
    border-radius:5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
}

.product img{
    height: 280px;
}

.product label{
    display: block;
}

